.calculation{
    margin-right: 30px;
    color:  hsl(184, 14%, 56%);
    font-size: 10px;
    display: flex;
    flex-direction: column;
}

input{
    text-align: end;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 17px;
    color:hsl(183, 100%, 15%);
    padding-right: 5%;    
    width: 95%;
    border-radius: 5%;
    border: 0;
    height: 30px;
    background-color: hsl(189, 41%, 97%);
}

form{
    margin: 5px;    
}

form div{
    position: relative;
    width: 100%;
}

form img{
    position: absolute;
    left: 4px;
    top:8px;
}

.button{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;   
}

.button button{
    font-family: 'Space Mono',monospace;
    color: white;
    border: 0px;
    margin: 5px;
    height: 30px;
    border-radius: 5px;
    background-color: hsl(183, 100%, 15%);
}
.calculation >p{
    margin: 5px;
    margin-top: 25px;
}

.calculation form:nth-of-type(2){
    margin-top: 25px;
}

@media(max-width : 375px){         
    .button{
        grid-template-columns: 1fr 1fr;   
    }

    .calculation{
        margin-right: 0px;
    }
}
