body{
    font-family: 'Space Mono', monospace;
    background-color: hsl(185, 41%, 84%);
    font-weight: 700;
}

.dashy{
    height: 95vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
}
.dashy > img{
    width:57px;
}

.calculator{
    margin: 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 15px;
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
}

@media(max-width : 500px){   
    .calculator{
        flex-direction: column;
        max-width: 100%;

    }      
    
    .dashy{
        height:100%;
    }
}